body {
  background: #f5e050;
  font-family: "Merriweather", serif;
}

.red-text {
  color: darkred;
}

.white-text {
  color: white;
}

.shadow {
  text-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

.center {
  display: block;
  width: 100px;
  text-align: center;
}

.heading {
  font-size: 30px;
  font-weight: bolder;
}

.paragraph {
  font-size: 15px;
}

.boxes > div {
  width: 250px;
  height: 180px;
  background: #fff;
}

.box1 {
  background: blue !important;
}

.box2 {
  background: red !important;
}

.box3 {
  background: yellowgreen !important;
}
